<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div layout:fragment="page_content">
		<div class="note note-info">
			<div class="mt-comments">
				<div class="mt-comment">
					<div class="mt-comment-body">
						<div class="mt-comment-info">
							<span class="mt-comment-author">Student Exam Results - <span
								style="color: #32c5d2; font-weight: bold;"
								th:text="${attempt.schedule.examName}"></span></span>
							<div class="actions pull-right">
								<div class="clearfix">
									<div class="btn-group btn-group-solid"
										style="margin-right: 40px;">
										Summary [ <span th:text="${attempt.getQuestionCount()}"></span>
										] : <span class=""> <i class="fa fa-check"
											style="color: green;"></i> <span
											th:text="${attempt.getCorrectAnswerCount()}"></span>
										</span> <span class=""> <i class="fa fa-remove"
											style="color: red;"></i> <span
											th:text="${attempt.getWrongAnswerCount()}"></span>
										</span> <span class=""> <i class="fa fa-circle"
											style="color: #cecece;"></i> <span
											th:text="${attempt.getQuestionUnAttemptCount()}"></span>
										</span>
									</div>
									<button onclick="backToExamsList()" class="btn blue btn-sm">
										<i class="fa fa-chevron-left"></i> Back
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-xs-12 col-sm-12">
				<div class="portlet light ">
					<div class="portlet-title">
						<div class="caption">
							<span class="caption-subject bold uppercase font-dark">Question
								Wise</span> <span class="caption-helper">question wise chart...</span>
						</div>
						<div class="actions">
							<a class="btn btn-circle btn-icon-only btn-default" id="line"
								href="javascript:changeChartType1('line');" title="line chart">
								<i class="fa fa-line-chart" style="color: #f45b5b;"></i>
							</a> <a class="btn btn-circle btn-icon-only btn-default"
								title="bar chart" id="bar"
								href="javascript:changeChartType1('bar');"> <img alt=""
								src="/assets/bar_chart_icon.svg">
							</a> <a class="btn btn-circle btn-icon-only btn-default"
								title="column chart" id="column"
								href="javascript:changeChartType1('column');"> <i
								class="fa fa-bar-chart" style="color: #f7a35c;"></i>
							</a><a class="btn btn-circle btn-icon-only btn-default"
								title="pie chart" id="pie"
								href="javascript:changeChartType1('pie');"> <i
								class="fa fa-pie-chart" style="color: #2b908f"></i>
							</a><a class="btn btn-circle btn-icon-only btn-default"
								title="area chart" id="area"
								href="javascript:changeChartType1('area');"> <i
								class="fa fa-area-chart" style="color: #90ed7d;"></i>
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div id="container1"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xs-12 col-sm-12">
				<div class="portlet light ">
					<div class="portlet-title">
						<div class="caption ">
							<span class="caption-subject font-dark bold uppercase">Marks
								Wise</span> <span class="caption-helper">marks wise chart...</span>
						</div>
						<div class="actions">
							<a class="btn btn-circle btn-icon-only btn-default"
								title="line chart" id="line"
								href="javascript:changeChartType2('line');"> <i
								class="fa fa-line-chart" style="color: #f45b5b;"></i>
							</a> <a class="btn btn-circle btn-icon-only btn-default"
								title="bar chart" id="bar"
								href="javascript:changeChartType2('bar');"> <img alt=""
								src="/assets/bar_chart_icon.svg">
							</a> <a class="btn btn-circle btn-icon-only btn-default"
								title="column chart" id="column"
								href="javascript:changeChartType2('column');"> <i
								class="fa fa-bar-chart" style="color: #f7a35c;"></i>
							</a><a class="btn btn-circle btn-icon-only btn-default"
								title="pie chart" id="pie"
								href="javascript:changeChartType2('pie');"> <i
								class="fa fa-pie-chart" style="color: #2b908f"></i>
							</a><a class="btn btn-circle btn-icon-only btn-default"
								title="area chart" id="area"
								href="javascript:changeChartType2('area');"> <i
								class="fa fa-area-chart" style="color: #90ed7d;"></i>
							</a>
						</div>
					</div>
					<div class="portlet-body">
						<div id="container2"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="portlet box green">
					<div class="portlet-title">
						<input type="hidden" id="attemptHiddenId" th:value="${attempt.id}">
						<div class="caption">
							<span th:text="${attempt.schedule.examName}"></span> Exam Result
						</div>
						<div class="tools"></div>
					</div>
					<div class="portlet-body">
						<div class="table-responsive">
							<table class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th>Subjects</th>
										<th>Total Questions</th>
										<th>Attempted Questions</th>
										<th>Correct Answers</th>
										<th>Wrong Answers</th>
										<th>Positive Marks</th>
										<th>Negative Marks</th>
										<th>Total Marks</th>
									</tr>
								</thead>
								<tbody>
									<th:block
										th:each="sectionResult : ${attempt.result.sectionResults[0]}">
										<th:block
											th:each="subjectResult : ${sectionResult.subjectResults}">
											<tr>
												<td th:text="${subjectResult.examSubject.subject.name}"></td>
												<td th:text="${subjectResult.totalQuestions}"></td>
												<td th:text="${subjectResult.attemptedQuestions}"></td>
												<td th:text="${subjectResult.correctAnswers}"></td>
												<td th:text="${subjectResult.wrongAnswers}"></td>
												<td th:text="${subjectResult.positiveMarks}"></td>
												<td th:text="${subjectResult.negativeMarks}"></td>
												<td th:text="${subjectResult.totalMarks}"></td>
											</tr>
										</th:block>
									</th:block>
									<tr>
										<td width="48" align="left" valign="middle"><strong>Total</strong>
										</td>
										<td th:text="${attempt.result.totalQuestions}"></td>
										<td th:text="${attempt.result.attemptedQuestions}"></td>
										<td th:text="${attempt.result.correctAnswers}"></td>
										<td th:text="${attempt.result.wrongAnswers}"></td>
										<td th:text="${attempt.result.positiveMarks}"></td>
										<td th:text="${attempt.result.negativeMarks}"></td>
										<td th:text="${attempt.result.totalMarks}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- END EXAMPLE TABLE PORTLET-->
			</div>
		</div>
		<div class="modal fade" id="studentExamResultsChartPopup"
			tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-full">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true"></button>
						<h4 class="modal-title">Exam Result Analysis</h4>
					</div>
					<div class="modal-body" style="background-color: #f7f7f7">
						<strong>Exam Analysis</strong><br> <strong><span
							th:text="${'Test Name 1'}"></span></strong>
						<div class="table-responsive">
							<table
								class="table table-striped table-bordered table-hover table-compact pavanId"
								style="max-height: 200px; overflow-y: scroll;">
								<thead>
									<tr>
										<th>Q.NO.</th>
										<th>Subject</th>
										<th>Question Type</th>
										<th>Chapter Name</th>
										<th>Topic/Sub topic</th>
										<th>Correct Answer</th>
										<th>Attempted Answer</th>
										<th>Result</th>
									</tr>
								</thead>
								<tbody id="popupTableBodyId">
									<!-- <tr th:each="exam:${#numbers.sequence(1,100)}">
										<td th:text="${exam}"></td>
										<td th:text="'ENGLISH'"></td>
										<td th:text="'Straight Objective'"></td>
										<td th:text="'Miscellaneous'"></td>
										<td th:text="'GK'"></td>
										<td th:text="'2'"></td>
										<td th:text="'1'"></td>
										<td th:text="'Correct'"></td>
									</tr> -->
								</tbody>
							</table>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn dark btn-outline"
							data-dismiss="modal">Close</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>
	<th:block layout:fragment="scripts">
		<script type="text/javascript">
			var attemptId = $("#attemptHiddenId").val();
			$(document).ready(function() {
				$("#studentExamResultsTable").DataTable();
				showChart1();
				showChart2();
			});

			var chartOptions1 = {
				chart : {
					type : 'column'
				},
				title : {
					text : ''
				},
				credits : {
					enabled : false
				},
				subtitle : {
					text : ''
				},
				xAxis : {
					categories : []
				},
				yAxis : {
					title : {
						text : ''
					}
				},
				plotOptions : {
					line : {
						dataLabels : {
							enabled : true
						}
					},
					bar : {
						dataLabels : {
							enabled : true
						}
					},
					column : {
						dataLabels : {
							enabled : true
						}
					},
					area : {
						dataLabels : {
							enabled : true
						}
					},
					//this need only for pie chart
					pie : {
						allowPointSelect : true,
						cursor : 'pointer',
						dataLabels : {
							enabled : true,
							formatter : function() {
								return Math.round(this.percentage * 100) / 100
										+ ' %';
							},
							distance : -30,
							color : 'white'
						},

					},
					series : {
						cursor : 'pointer',
						point : {
							events : {
								click : function() {
									showChartPopup(this.category, this.y);
								}
							}
						}
					}
				},
				series : [ {
					name : '',
					data : []
				} ]
			};

			var chartOptions2 = {
				chart : {
					type : 'column'
				},
				title : {
					text : ''
				},
				credits : {
					enabled : false
				},
				subtitle : {
					text : ''
				},
				xAxis : {
					categories : []
				},
				yAxis : {
					title : {
						text : ''
					}
				},
				plotOptions : {
					line : {
						dataLabels : {
							enabled : true
						}
					},
					bar : {
						dataLabels : {
							enabled : true
						}
					},
					column : {
						dataLabels : {
							enabled : true
						}
					},
					area : {
						dataLabels : {
							enabled : true
						}
					},
					//this need only for pie chart
					pie : {
						allowPointSelect : true,
						cursor : 'pointer',
						dataLabels : {
							enabled : true,
							formatter : function() {
								return Math.round(this.percentage * 100) / 100
										+ ' %';
							},
							distance : -30,
							color : 'white'
						},

					},
					series : {
						cursor : 'pointer',
						point : {
							events : {
								click : function() {
									//alert('Category: ' + this.category + ', value: ' + this.y);
								}
							}
						}
					}
				},
				series : [ {
					name : '',
					data : []
				} ]
			};

			function showChart1() {
				var chartData1 = {};
				$.ajax({
					url : '/student/exam/results/questionWiseChart?attemptId='
							+ attemptId,
					success : function(data) {

						chartData1 = JSON.parse(data);

						chartOptions1.chart.type = 'column';
						//chartOptions1.title.text = chartData1.chartTitle;
						chartOptions1.subtitle.text = chartData1.chartSubTitle;
						chartOptions1.yAxis.title.text = 'Question Count';
						chartOptions1.series[0].name = 'Questions';
						chartOptions1.xAxis.categories = chartData1.categories;
						chartOptions1.series[0].data = chartData1.data;
						chartOptions1.plotOptions.series['color'] = '#f7a35c';

						Highcharts.chart('container1', chartOptions1);
					},
					error : function() {
						alert("Unable to load details.")
					}
				});
			}

			function showChart2() {
				var chartData2 = {};
				$.ajax({
					url : '/student/exam/results/marksWiseChart?attemptId='
							+ attemptId,
					success : function(data) {

						chartData2 = JSON.parse(data);

						chartOptions2.chart.type = 'bar';
						//chartOptions2.title.text = chartData2.chartTitle;
						chartOptions2.subtitle.text = chartData2.chartSubTitle;
						chartOptions2.yAxis.title.text = 'Question Count';
						chartOptions2.series[0].name = 'Questions';
						chartOptions2.xAxis.categories = chartData2.categories;
						chartOptions2.series[0].data = chartData2.data;
						chartOptions2.plotOptions.series['color'] = '#8085e9';

						Highcharts.chart('container2', chartOptions2);
					},
					error : function() {
						alert("Unable to load details.")
					}
				});
			}

			function changeChartType1(val) {
				chartOptions1.chart.type = val;
				if (val == "line") {
					chartOptions1.plotOptions.series['color'] = '#f45b5b';
				} else if (val == "bar") {
					chartOptions1.plotOptions.series['color'] = '#8085e9';
				} else if (val == "column") {
					chartOptions1.plotOptions.series['color'] = '#f7a35c';
				} else if (val == "area") {
					chartOptions1.plotOptions.series['color'] = '#90ed7d';
				} else {

				}
				Highcharts.chart('container1', chartOptions1);
			}

			function changeChartType2(val) {
				chartOptions2.chart.type = val;
				if (val == "line") {
					chartOptions2.plotOptions.series['color'] = '#f45b5b';
				} else if (val == "bar") {
					chartOptions2.plotOptions.series['color'] = '#8085e9';
				} else if (val == "column") {
					chartOptions2.plotOptions.series['color'] = '#f7a35c';
				} else if (val == "area") {
					chartOptions2.plotOptions.series['color'] = '#90ed7d';
				} else {

				}
				Highcharts.chart('container2', chartOptions2);
			}

			function showChartPopup(category, val) {
				$.ajax({
					url : '/student/exam/results/popup?columnName=' + category
							+ '&attemptId=' + attemptId,
					success : function(data) {
						var popupDataList = [];
						var data = "";
						for (var i = 1; i <= 180; i++) {
							var popupData = {
								questionId : i,
								subject : 'Subject ' + i,
								questionType : 'Question Type ' + i,
								chapter : 'Chapter Name ' + i,
								topic : 'Topic ' + i,
								correctAnswer : i,
								atteptedAnswer : i + 1,
								result : 'correct'
							};
							popupDataList.push(popupData);

							data += "<tr><td>" + popupData.questionId
									+ "</td><td>" + popupData.subject + ","
									+ "</td><td>" + popupData.questionType
									+ "</td><td>" + popupData.chapter
									+ "</td><td>" + popupData.topic
									+ "</td><td>" + popupData.correctAnswer
									+ "</td><td>" + popupData.atteptedAnswer
									+ "</td><td>" + popupData.result
									+ "</td></tr>";

						}
						$(".pavanId").DataTable().destroy();
						$("#popupTableBodyId").html(data);
						var table = $('.pavanId').DataTable();
						$("#studentExamResultsChartPopup").modal('show');
					},
					error : function() {
						alert("Unable to load detials");
					}
				});
			}
		</script>
	</th:block>
</body>
</html>