
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<style>
input, select, textarea {
	margin-bottom: 15px;
}
label {
 font-weight:bold;
}
</style>
</head>
<body>
	<div class="portlet light portlet-fit bordered card-1">
		<div class="portlet-title">
			<div class="caption">
				<span class="caption-subject ">Generator Not Used</span>
			</div>

		</div>

		<div class="portlet-body">
			<div class="tab-content">
				<div class="tab-pane fade active in" >
					<div class="custom-div">
						<form th:action="@{/scaits/generatorinfoSave}" id="formId"
							method="post" enctype="multipart/form-data">
							<div class="row">
								<div class="col-md-4">
									<label>Building Name</label> <select class="form-control"
										id="building" name="building" onchange="return loadScno(); ">
										<option value="0">Select Building</option>
										<option th:each="buildings:${buildingList}"
											th:value="${buildings.id}" th:text="${buildings.buildingName}"
											th:selected="${building!=null &&  buildings.id==building}"></option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Generator SNo</label> <select class="form-control"
										name="genSNo" id="genSNo" onchange="getStock()">
										<option value="0">Select Service</option>
									</select>
								</div>

								<div class="col-md-4">
									<label>Reason </label><select class="form-control"
										name="holidayReason" id="holidayReason">
										<option value="0">Select HolidayReason</option>
										<option value="HOLIDAY">HOLIDAY</option>
										<option value="NOT USED">NOT USED</option>
									</select>
								</div>
								<div class="col-md-4">
									<label>Date </label><input name="date" id="date"
										class="form-control"  data-date-end-date="0d" data-date-start-date="-1m" type="text" value=""
										readonly />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="portlet-footer">
			<div class="row" id="button">
				<div class="col-md-12">
					<button type="button" class="btn-pri"
						onClick="saveGeneratorNotUsed()">Insert</button>
					&nbsp;&nbsp;
					<button type="button" class="btn-pri" onclick="resetFields()">Reset</button>
				</div>
			</div>
		</div>
	</div>
	<script
		src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"
		type="text/javascript"></script>
	<script type="text/javascript">
	$('#date').datepicker({
		 format : 'dd-mm-yyyy',
		autoclose:true
		});
		function loadScno() {
			$.ajax({
				type : "get",
				url : "/scaits/getGenList",
				data : $("#formId").serialize(),
				success : function(data) {
					var prePopulate = JSON.parse(data);
					var select = $('#genSNo');
					select.find('option').remove();
					$.each(prePopulate, function(key, value) {
						$('<option>').val(key).text(value).appendTo(select);
					});
				}
			});
		}
		function saveGeneratorNotUsed() {
			if ($('#building').val() == 0) {
				alert("Please select building");
				$('#building').focus();
				return false;
			} else if ($('#genSNo').value == "") {
				alert("Please enter  Generator SNo ");
				$('#genSNo').focus();
				return false;
			} else if ($('#holidayReason').val() == "") {
				alert("Please Select Reason");
				$('#holidayReason').focus();
				return false;
			} else if ($('#date').val() == "") {
				alert("Please Select Date ");
				$('#date').focus();
				return false;
			} else if (confirm("Do you want to insert this record")) {
				$.ajax({
					type : "post",
					url : "/scaits/saveGeneratorHolidayReason",
					data : $("#formId").serialize(),
					success : function(data) {
						pageOverlay(1);
						if (data.indexOf("ERROR-") != -1) {
							showToastr(data, "error");
						} else if (data.indexOf("FEEDBACK-1") != -1) {
							resetFields();
							alert("Successfully Done!!!");
						}

					},
					error : function() {
						alert('Error occured');
						pageOverlay(1);
					}
				});
			} else {
				return false;
			}
		}

		function resetFields() {
			$("#building").val(0);
			$("#genSNo").val(0);
			$('#holidayReason').val(0);
			$('#date').val('');
		}
	</script>
</body>

</html>




















