<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div class="portlet light portlet-fit bordered card-1">
		<div class="portlet-title">
			<div class="caption">Student Outing</div>
		</div>
		<div th:replace="group/groupOperations"></div>
		<div id="studentOutingGridId"></div>
	</div>
	<script th:inline="javascript">
		$(document).ready(function() {
			$('#studentOut').css('display', 'block');
			$('#studentOut1').css('display', 'block');
		});
		function loadBulkStudentList() {
			$.ajax({
				type : "GET",
				url : "/scaits/getStudentOutingGrid",
				data : $("#formId").serialize(),
				success : function(data) {
					$('#studentOutingGridId').html('');
					$('#studentOutingGridId').html(data);
				},
				error : function() {
					alert('Error occured');
				}
			});
		}
	</script>
</body>
</html>

