<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<input type="hidden"
		th:value="${instruction==null?'':instruction.instructionText}"
		id="hiddenInsTextId" />
	<div id="insId"></div>
	<th:block layout:fragment="scripts">
		<script type="text/javascript">
			$(document)
					.ready(
							function() {
								$("#insId")
										.html(
												$("#hiddenInsTextId").val() == "" ? '<strong style="color:red;">No Instructions Found.</strong>'
														: $("#hiddenInsTextId")
																.val());
							});
		</script>
	</th:block>
</body>
</html>