<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body
	class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
	<div class="page-header navbar navbar-fixed-top" th:fragment="header">
		<!-- BEGIN HEADER INNER -->
		<div class="page-header-inner">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<a href="javascript:void(0)"> <img class="logo-default"
					style="margin: 5px 7px;" alt="logo"
					th:src="@{/assets/sri_logo.png}" />
				</a>
				<div class="menu-toggler sidebar-toggler">
					<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
				</div>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler responsive-toggler"
				data-toggle="collapse" data-target=".navbar-collapse"> </a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN PAGE ACTIONS -->
			<!-- DOC: Remove "hide" class to enable the page header actions -->
			<div class="page-actions">
				<!-- <div class="btn-group">
					<button type="button"
						class="btn btn-default btn-sm dropdown-toggle btn-circle"
						data-toggle="dropdown" data-hover="dropdown"
						data-close-others="true">
						<span class="hidden-sm hidden-xs">QB Analysis&nbsp;</span> <i
							class="fa fa-angle-down"></i>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/scaits" target="_blank"> <i
								class="icon-docs"></i> Scaits

						</a></li>
						<li><a href="/"> <i class="icon-tag"></i> QB Analysis

						</a></li>
						<li><a href="/call/showRecordings" target="_blank"> <i
								class="icon-share"></i> Call Recordings
						</a></li>
						<li><a href="/reports/home" target="_blank"> <i
								class="icon-share"></i>CFO Reports
						</a></li>
					</ul>

					<button type="button" class="btn btn-default btn-sm  btn-circle"
						style="margin-left: 5px" href="#responsive" data-toggle="modal">
						<span class="hidden-sm hidden-xs">Test&nbsp;</span> <i
							class="fa fa-link"></i>
					</button>
				</div> -->
			</div>
			<!-- END PAGE ACTIONS -->
			<!-- BEGIN PAGE TOP -->
			<div class="page-top">
				<!-- BEGIN HEADER SEARCH BOX -->
				<!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
				<form class="search-form open"
					action="http://keenthemes.com/preview/metronic/theme/admin_4/page_general_search_2.html"
					method="GET" style="width: 200px !important">
					<!-- <div class="input-group">
						<input type="text" class="form-control"
							placeholder="Student Search..." name="searchstr"
							id="searchStudentId"> <span class="input-group-btn">
							<a href="javascript:void(0)" class="btn submit"> <i
								class="icon-magnifier"></i>
						</a>
						</span>
					</div> -->
				</form>

				<!-- END HEADER SEARCH BOX -->
				<!-- BEGIN TOP NAVIGATION MENU -->
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<li class="separator hide"></li>
						<!-- BEGIN NOTIFICATION DROPDOWN -->
						<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
						<!-- DOC: Apply "dropdown-hoverable" class after "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
						<!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
						<!-- <li
							class="dropdown dropdown-extended dropdown-notification dropdown-dark"
							id="header_notification_bar"><a href="javascript:;"
							class="dropdown-toggle" data-toggle="dropdown"
							data-hover="dropdown" data-close-others="true"> <i
								class="icon-bell"></i> <span class="badge badge-success">
									7 </span>
						</a>
							<ul class="dropdown-menu">
								<li class="external">
									<h3>
										<span class="bold">12 pending</span> notifications
									</h3> <a href="javascript:;;">view all</a>
								</li>
								<li>
									<ul class="dropdown-menu-list scroller" style="height: 250px;"
										data-handle-color="#637283">
										<li><a href="javascript:;"> <span class="time">just
													now</span> <span class="details"> <span
													class="label label-sm label-icon label-success"> <i
														class="fa fa-plus"></i>
												</span> New user registered.
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="time">3
													mins</span> <span class="details"> <span
													class="label label-sm label-icon label-danger"> <i
														class="fa fa-bolt"></i>
												</span> Server #12 overloaded.
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="time">10
													mins</span> <span class="details"> <span
													class="label label-sm label-icon label-warning"> <i
														class="fa fa-bell-o"></i>
												</span> Server #2 not responding.
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="time">14
													hrs</span> <span class="details"> <span
													class="label label-sm label-icon label-info"> <i
														class="fa fa-bullhorn"></i>
												</span> Application error.
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="time">2
													days</span> <span class="details"> <span
													class="label label-sm label-icon label-danger"> <i
														class="fa fa-bolt"></i>
												</span> Database overloaded 68%.
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="time">3
													days</span> <span class="details"> <span
													class="label label-sm label-icon label-danger"> <i
														class="fa fa-bolt"></i>
												</span> A user IP blocked.
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="time">4
													days</span> <span class="details"> <span
													class="label label-sm label-icon label-warning"> <i
														class="fa fa-bell-o"></i>
												</span> Storage Server #4 not responding dfdfdfd.
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="time">5
													days</span> <span class="details"> <span
													class="label label-sm label-icon label-info"> <i
														class="fa fa-bullhorn"></i>
												</span> System Error.
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="time">9
													days</span> <span class="details"> <span
													class="label label-sm label-icon label-danger"> <i
														class="fa fa-bolt"></i>
												</span> Storage server failed.
											</span>
										</a></li>
									</ul>
								</li>
							</ul></li>
						<!-- END NOTIFICATION DROPDOWN -->
						<li class="separator hide"></li>
						<!-- BEGIN INBOX DROPDOWN -->
						<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
						<!-- <li
							class="dropdown dropdown-extended dropdown-inbox dropdown-dark"
							id="header_inbox_bar"><a href="javascript:;"
							class="dropdown-toggle" data-toggle="dropdown"
							data-hover="dropdown" data-close-others="true"> <i
								class="icon-envelope-open"></i> <span class="badge badge-danger">
									4 </span>
						</a>
							<ul class="dropdown-menu">
								<li class="external">
									<h3>
										You have <span class="bold">7 New</span> Messages
									</h3> <a href="javascript:;;">view all</a>
								</li>
								<li>
									<ul class="dropdown-menu-list scroller" style="height: 275px;"
										data-handle-color="#637283">
										<li><a href="javascript:void(0)"> <span class="photo">
													<img src="../assets/layouts/layout3/img/avatar2.jpg"
													class="img-circle" alt="">
											</span> <span class="subject"> <span class="from">
														Lisa Wong </span> <span class="time">Just Now </span>
											</span> <span class="message"> Vivamus sed auctor nibh congue
													nibh. auctor nibh auctor nibh... </span>
										</a></li>
										<li><a href="javascript:void(0)"> <span class="photo">
													<img src="../assets/layouts/layout3/img/avatar3.jpg"
													class="img-circle" alt="">
											</span> <span class="subject"> <span class="from">
														Richard Doe </span> <span class="time">16 mins </span>
											</span> <span class="message"> Vivamus sed congue nibh auctor
													nibh congue nibh. auctor nibh auctor nibh... </span>
										</a></li>
										<li><a href="javascript:void(0)"> <span class="photo">
													<img src="../assets/layouts/layout3/img/avatar1.jpg"
													class="img-circle" alt="">
											</span> <span class="subject"> <span class="from"> Bob
														Nilson </span> <span class="time">2 hrs </span>
											</span> <span class="message"> Vivamus sed nibh auctor nibh
													congue nibh. auctor nibh auctor nibh... </span>
										</a></li>
										<li><a href="javascript:void(0)"> <span class="photo">
													<img src="../assets/layouts/layout3/img/avatar2.jpg"
													class="img-circle" alt="">
											</span> <span class="subject"> <span class="from">
														Lisa Wong </span> <span class="time">40 mins </span>
											</span> <span class="message"> Vivamus sed auctor 40% nibh
													congue nibh... </span>
										</a></li>
										<li><a href="javascript:void(0)"> <span class="photo">
													<img src="../assets/layouts/layout3/img/avatar3.jpg"
													class="img-circle" alt="">
											</span> <span class="subject"> <span class="from">
														Richard Doe </span> <span class="time">46 mins </span>
											</span> <span class="message"> Vivamus sed congue nibh auctor
													nibh congue nibh. auctor nibh auctor nibh... </span>
										</a></li>
									</ul>
								</li>
							</ul></li>
						<!-- END INBOX DROPDOWN -->
						<li class="separator hide"></li>
						<!-- BEGIN TODO DROPDOWN -->
						<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
						<!-- <li
							class="dropdown dropdown-extended dropdown-tasks dropdown-dark"
							id="header_task_bar"><a href="javascript:;"
							class="dropdown-toggle" data-toggle="dropdown"
							data-hover="dropdown" data-close-others="true"> <i
								class="icon-calendar"></i> <span class="badge badge-primary">
									3 </span>
						</a>
							<ul class="dropdown-menu extended tasks">
								<li class="external">
									<h3>
										You have <span class="bold">12 pending</span> tasks
									</h3> <a href="javascript:;;">view all</a>
								</li>
								<li>
									<ul class="dropdown-menu-list scroller" style="height: 275px;"
										data-handle-color="#637283">
										<li><a href="javascript:;"> <span class="task">
													<span class="desc">New release v1.2 </span> <span
													class="percent">30%</span>
											</span> <span class="progress"> <span style="width: 40%;"
													class="progress-bar progress-bar-success"
													aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">40% Complete</span>
												</span>
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="task">
													<span class="desc">Application deployment</span> <span
													class="percent">65%</span>
											</span> <span class="progress"> <span style="width: 65%;"
													class="progress-bar progress-bar-danger" aria-valuenow="65"
													aria-valuemin="0" aria-valuemax="100"> <span
														class="sr-only">65% Complete</span>
												</span>
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="task">
													<span class="desc">Mobile app release</span> <span
													class="percent">98%</span>
											</span> <span class="progress"> <span style="width: 98%;"
													class="progress-bar progress-bar-success"
													aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">98% Complete</span>
												</span>
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="task">
													<span class="desc">Database migration</span> <span
													class="percent">10%</span>
											</span> <span class="progress"> <span style="width: 10%;"
													class="progress-bar progress-bar-warning"
													aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">10% Complete</span>
												</span>
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="task">
													<span class="desc">Web server upgrade</span> <span
													class="percent">58%</span>
											</span> <span class="progress"> <span style="width: 58%;"
													class="progress-bar progress-bar-info" aria-valuenow="58"
													aria-valuemin="0" aria-valuemax="100"> <span
														class="sr-only">58% Complete</span>
												</span>
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="task">
													<span class="desc">Mobile development</span> <span
													class="percent">85%</span>
											</span> <span class="progress"> <span style="width: 85%;"
													class="progress-bar progress-bar-success"
													aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">85% Complete</span>
												</span>
											</span>
										</a></li>
										<li><a href="javascript:;"> <span class="task">
													<span class="desc">New UI release</span> <span
													class="percent">38%</span>
											</span> <span class="progress progress-striped"> <span
													style="width: 38%;"
													class="progress-bar progress-bar-important"
													aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">38% Complete</span>
												</span>
											</span>
										</a></li>
									</ul>
								</li>
							</ul></li> -->
						<!-- END TODO DROPDOWN -->
						<!-- BEGIN USER LOGIN DROPDOWN -->
						<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
						<li class="dropdown dropdown-user dropdown-dark"><a
							href="javascript:;" class="dropdown-toggle"
							data-toggle="dropdown" data-hover="dropdown"
							data-close-others="true"> <span
								class="username username-hide-on-mobile"
								style="white-space: nowrap; width: 60px; font-size: 12px; overflow: hidden; text-overflow: ellipsis; text-transform: capitalize;"
								th:text="${'Hi,'+@currentUser.getCurrentUser().getUserName().toLowerCase()}">
							</span> <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
								<img alt="" class="img-circle"
								style="width: 35px; height: 35px;"
								th:src="'http://scaits.info/attachment/empImage/'+${@currentUser.getCurrentUser().getPayRollId()}+'_Photo.jpg'" />
						</a>
							<ul class="dropdown-menu dropdown-menu-default">
								<li><a style="text-transform: capitalize;"
									th:href="@{/qb/employeeProfile}"
									th:text="${@currentUser.getCurrentUser().getUserName().toLowerCase()}">
								</a></li>
								<li><a href="javascript:;;" th:text="${@currentUser.getCurrentUser().getPayRollId()}"></a></li>
								<li class="divider"></li>
								<li><a th:href="@{/qb/employeeProfile}"> <i
										class="icon-user"></i> My Profile
								</a></li>
									<!-- <li><a th:href="javascript:;;"> <i
											class="icon-envelope-open"></i> My Inbox <span
											class="badge badge-danger"> 3 </span>
									</a></li> -->
								<li class="divider"></li>
								<li><a th:href="@{/lockscreen}"> <i class="icon-lock"></i>
										Lock Screen
								</a></li>
								<li><a th:href="@{/logout}"> <i class="icon-key"></i>
										Log Out
								</a></li>
							</ul></li>
						<!-- END USER LOGIN DROPDOWN -->
						<!-- BEGIN QUICK SIDEBAR TOGGLER -->
						<!-- END QUICK SIDEBAR TOGGLER -->
					</ul>
				</div>
				<!-- END TOP NAVIGATION MENU -->
			</div>
			<!-- END PAGE TOP -->
		</div>
		<!-- END HEADER INNER -->

		<form action="" method="post" id="getStudentQnSummaryId">
			<input type="hidden" id="selStuAdmNo" name="student">
		</form>

		<form action="" method="post" id="getSelTestSummaryId1">
			<input type="hidden" id="testId" name="testId"> <input
				type="hidden" id="cityValId" name="cityValId"> <input
				type="hidden" id="selCampusId" name="selCampusId">
		</form>

		<!-- <div id="responsive" class="modal fade" tabindex="-1" data-width="760">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<h4 class="modal-title">Tests</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<label class="control-label">City</label> <select name="cityVal"
							id="selCityValId" class="form-control">
							<option th:value="0" th:text="${'Select City'}"></option>

							<option
								th:each="city,cityStatus:${@currentUser.getLoginEmpCityList()}"
								th:value="${city.cityId}" th:text="${city.cityName}"></option>

						</select>

					</div>
					<div class="col-md-6">
						<label class="control-label">Campus</label> <select
							name="campusVal" id="selCampusValId" class="form-control">
							<option th:value="0" th:text="${'Select Campus'}"></option>

							<option
								th:each="campus,campusStatus:${@currentUser.getLoginEmpCampusList()}"
								th:value="${campus.id}" th:text="${campus.campusName}">
							</option>
						</select>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label class="control-label">Test</label> <select name="selTest"
							id="selTestId" class="form-control">
							<option th:value="0" th:text="${'Select Test'}"></option>

							<option
								th:each="test,testStatus:${@currentUser.getAllOfflineExamList()}"
								th:value="${test.id}" th:text="${test.testCode}"></option>
						</select>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal"
					class="btn btn-outline dark">Close</button>
				<button type="button" class="btn green"
					onclick="javascript:getSelTestDetails()">Save changes</button>
			</div>
		</div> -->


		<div id="errorDisplayId" class="modal fade" tabindex="-1"
			data-width="760">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true"></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<span id="errorMsgDisplayId"></span>
				</div>

			</div>
			<div class="modal-footer"></div>
		</div>
	</div>
</body>
</html>