<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<div class="portlet light bordered">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption">
                                        <i class="icon-share font-dark"></i>
                                        <span class="caption-subject font-dark bold uppercase">Payment Info..</span>
                                    </div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a aria-expanded="true" href="#portlet_tab2_3" data-toggle="tab"> Fee </a>
                                        </li>
                                        <li>
                                            <a aria-expanded="false" href="#portlet_tab2_2" data-toggle="tab">  Pocket  </a>
                                        </li>
                                        <li>
                                            <a aria-expanded="false" href="#portlet_tab2_1" data-toggle="tab"> Exam </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        <div class="tab-pane" id="portlet_tab2_1">
                                            <div class="alert alert-success"> Check out the below dropdown menu. It will be opened as usual since there is enough space at the bottom. </div>
                                            <div class="btn-group margin-bottom-10">
                                                <a class="btn red" href="javascript:;" data-toggle="dropdown">
                                                    <i class="fa fa-user"></i> Settings
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-plus"></i> Add </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-trash-o"></i> Edit </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">
                                                            <i class="fa fa-times"></i> Delete </a>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <a href="javascript:;"> Full Settings </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                                                zzril delenit augue duis dolore te feugait. </p>
                                            <p> Deros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                                euismod tincidunt ut laoreet dolore magna. consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. </p>
                                        </div>
                                        <div class="tab-pane" id="portlet_tab2_2">
                                            <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo. </p>
                                            <p>
                                                <a class="btn red" href="ui_tabs_accordions_navs.html#portlet_tab2_2" target="_blank"> Activate this tab via URL </a>
                                            </p>
                                        </div>
                                        <div class="tab-pane active" id="portlet_tab2_3">
                                            <p> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
                                                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                                            <p>
                                                <a class="btn purple" href="ui_tabs_accordions_navs.html#portlet_tab2_3" target="_blank"> Activate this tab via URL </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bubble font-green-sharp"></i>
                                        <span class="caption-subject font-green-sharp bold uppercase">Student Functions</span>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group open">
                                            <a class="btn green-haze btn-outline btn-circle btn-sm" aria-expanded="true" href="javascript:;" data-toggle="dropdown" data-close-others="true" data-hover="dropdown"> Actions
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;"> Option 1</a>
                                                </li>
                                                <li class="divider"> </li>
                                                <li>
                                                    <a href="javascript:;">Option 2</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Option 3</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Option 4</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <ul class="nav nav-pills">
                                        <li class="active">
                                            <a aria-expanded="false" href="#tab_2_1" data-toggle="tab"> Payment </a>
                                        </li>
                                        <li >
                                            <a aria-expanded="true" href="#tab_2_2" data-toggle="tab"> Concession </a>
                                        </li>
                                        <li >
                                            <a aria-expanded="true" href="#tab_2_2" data-toggle="tab"> Course </a>
                                        </li>
                                        <li >
                                            <a aria-expanded="true" href="#tab_2_2" data-toggle="tab"> Pocket </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" id="myTabDrop1" aria-expanded="false" href="javascript:;" data-toggle="dropdown"> Others
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                                <li>
                                                    <a tabindex="-1" href="#tab_2_3" data-toggle="tab"> Option 1 </a>
                                                </li>
                                                <li>
                                                    <a tabindex="-1" href="#tab_2_4" data-toggle="tab"> Option 2 </a>
                                                </li>
                                                <li>
                                                    <a tabindex="-1" href="#tab_2_3" data-toggle="tab"> Option 3 </a>
                                                </li>
                                                <li>
                                                    <a tabindex="-1" href="#tab_2_4" data-toggle="tab"> Option 4 </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade" id="tab_2_1">
                                            <p> Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
                                                retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
                                                qui. </p>
                                        </div>
                                        <div class="tab-pane fade active in" id="tab_2_2">
                                            <p> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
                                                beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
                                                VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
                                                stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park. </p>
                                        </div>
                                        <div class="tab-pane fade" id="tab_2_3">
                                            <p> Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
                                                locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
                                                etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr. </p>
                                        </div>
                                        <div class="tab-pane fade" id="tab_2_4">
                                            <p> Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore
                                                wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh
                                                craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
</body>
</html>