<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	
<script th:inline="javascript">
//<![CDATA[
           
           var heder = [[${#dates.millisecond(date)}]];
           
		$('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
			   $($.fn.dataTable.tables(true)).DataTable()
			      .columns.adjust();
			});
		$(document).ready(function() {
			$('#sample_'+heder).DataTable( {
		        dom: 'Bfrtip',
		        scrollY: true,
		        scrollX: true,
		        buttons: ['copy', 'csv', 'excel', 'pdf', 'print' ]
		    } );
		});
		 //]]> 
		</script>
</head>
<body>
	<!-- BEGIN PAGE BASE CONTENT -->
	<div class="container" style="width: auto;">
		<div class="row">
			<div class="col-md-12">


						<div class="row">
							<div class="col-md-12">
								<!-- BEGIN EXAMPLE TABLE PORTLET-->
								<div class="portlet box green">
									
									<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-globe"></i>Student Wise 
										<span th:if="${tabVal!='Section'}" th:text="${'Test'}"></span>
										<span th:if="${tabVal=='Section'}"  th:text="${'Section'}"></span>
										 Details
									</div>
									<div class="tools"></div>
								</div>
									<div class="portlet-body" style="width: 100%;">
										<table class="table table-striped table-bordered table-hover"
											th:id="${'sample_'+#dates.millisecond(date)}" style="overflow-x: auto;overflow-y: hidden;">

											<thead>
												<tr align="center">
													<th rowspan="2" nowrap="nowrap">Student Name</th>
													<th rowspan="2" nowrap="nowrap">Adm No</th>
													<th rowspan="2" nowrap="nowrap">Mobile No</th>
													<th:block
														th:each="subjectWise,subjectWiseStatus : ${subjectWiseStuOfflineResults}">
														<th th:colspan="${3}" th:text="${subjectWise.key.name}"
														style="text-align: center;"></th>
													</th:block>
												</tr>
												<tr>

													<th:block
														th:each="subjectWise,subjectWiseStatus : ${subjectWiseStuOfflineResults}">
														<th>Correct</th>
														<th>Wrong</th>
														<th>UnAttempt</th>
													</th:block>
												</tr>
											</thead>



											<tbody>


												 
												 <tr
														th:each="stuWiseSummary,subjectWiseQueStatus : ${stuWiseSubSummaryList}" 
														>
														<td th:text="${stuWiseSummary.key.name}" nowrap="nowrap"></td>
														
													<td >
													<a  th:text="${stuWiseSummary.key.admNo}"
							th:onclick="${'javascript:getStudentQnSummary(' + stuWiseSummary.key.admNo + ')'}"></a>
													</td>
													<td
														th:text="${stuWiseSummary.key.mobileNo}">
													</td>
													
													<th:block
														th:each="subjectWise1,subjectWiseStatus1 : ${stuWiseSummary.value}">
													<th:block
														th:each="subjectWiseQue1,subjectWiseQueStatus1 : ${subjectWise1.value}"
														>
															<td style="color: green; text-align: right;"
															th:text=${subjectWiseQue1.correct}></td>
															<td style="color: red; text-align: right;"
															th:text=${subjectWiseQue1.wrong}></td>
															<td style="color: #75787D; text-align: right;"
															th:text=${subjectWiseQue1.unattempt}></td>
															</th:block>
</th:block>
												</tr> 

											</tbody>
										</table>
									</div>
								</div>
								<!-- END EXAMPLE TABLE PORTLET-->

							</div>
						</div>

			</div>
		</div>
	</div>





</body>
</html>