<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<th:block th:if="${subjects!=null && subjects.size()>0}">
		<div class="col-md-12">
			<div class="panel-group accordion" id="fullQp">
				<th:block th:each="subject,subStatus:${subjects}">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a class="accordion-toggle accordion-toggle-styled collapsed"
									data-toggle="collapse" data-parent="#fullQp"
									th:href="${'#full'+subject.getKey().name}" aria-expanded="false"
									th:text="${subject.getKey().name}"></a>
							</h4>
						</div>
						<div th:id="${'full'+subject.getKey().name}"
							class="panel-collapse collapse" aria-expanded="false"
							style="max-height: 50vh; overflow-y: auto;">
							<div class="panel-body">
								<th:block th:each="question,queStatus:${subject.getValue()}">
									<span class="badge"
										th:text="${queStatus.count+(subStatus.index*queStatus.size)}"></span>
									<div th:if="${question.questionType.id==1}">
										<th:block
											th:replace="myTheme1/viewQuestions/viewSingleAnswer(question=${question})"></th:block>
									</div>
									<div th:if="${question.questionType.id==2}">
										<div
											th:replace="myTheme1/viewQuestions/viewMoreThanOneAnswer(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==3}">
										<div
											th:replace="myTheme1/viewQuestions/viewIntegerAnswer(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==4}">
										<div
											th:replace="myTheme1/viewQuestions/viewAssertionReason(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==5}">
										<div
											th:replace="myTheme1/viewQuestions/viewStatementIStatementII(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==6}">
										<div
											th:replace="myTheme1/viewQuestions/viewAscendingDescending(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==7}">
										<div
											th:replace="myTheme1/viewQuestions/viewIncreasingDecreasing(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==8}">
										<div
											th:replace="myTheme1/viewQuestions/viewMatrix2Column(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==9}">
										<div
											th:replace="myTheme1/viewQuestions/viewMatrix3Column(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==10}">
										<div
											th:replace="myTheme1/viewQuestions/viewSubjective(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==11}">
										<div
											th:replace="myTheme1/viewQuestions/viewComprehensive(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==12}">
										<div
											th:replace="myTheme1/viewQuestions/viewReasoning(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==13}">
										<div
											th:replace="myTheme1/viewQuestions/viewReasoningComprehensive(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==14}">
										<div
											th:replace="myTheme1/viewQuestions/viewFigureFindingReason(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==15}">
										<div
											th:replace="myTheme1/viewQuestions/viewSubjectiveVerb(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==16}">
										<div
											th:replace="myTheme1/viewQuestions/viewReasoningNewChoicesComprehensive(question=${question})"></div>
									</div>

									<div th:if="${question.questionType.id==17}">
										<div
											th:replace="myTheme1/viewQuestions/viewModifiedStatementIStatementII(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==18}">
										<div
											th:replace="myTheme1/viewQuestions/viewIPESubjectiveVerb(question=${question})"></div>
									</div>

									<div th:if="${question.questionType.id==19}">
										<div
											th:replace="myTheme1/viewQuestions/viewQuestionTextAssertionReason(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==20}">
										<div
											th:replace="myTheme1/viewQuestions/viewModifiedStatementIStatementIIStatementIII(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==21}">
										<div
											th:replace="myTheme1/viewQuestions/viewModifiedQuestionStatementIStatementIIStatementIII(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==22}">
										<div
											th:replace="myTheme1/viewQuestions/viewTrueFalse(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==23}">
										<div
											th:replace="myTheme1/viewQuestions/viewYesNo(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==24}">
										<div
											th:replace="myTheme1/viewQuestions/viewFillInTheBlank(question=${question})"></div>
									</div>
									<div th:if="${question.questionType.id==25}">
										<div
											th:replace="myTheme1/viewQuestions/viewAssertionReasonfalse(question=${question})"></div>
									</div>
								</th:block>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</th:block>
</body>
</html>