<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>

	<!-- <div>
		<strong>Time Spent :</strong> <span
			th:text="${examQuestion.questionGap+' sec'}"></span>
	</div> -->

	<th:block th:if="${examQuestion!=null}">
		<input id="timeSpentHiddenId"
			th:value="${examQuestion.questionGap+' sec'}" type="hidden">
		<input id="questionNoHiddenId" th:value="${questionStatus}"
			type="hidden">
	</th:block>

	<th:block th:if="${examQuestion==null}">
		<div>
			<b>Question : <span th:text="${questionStatus}"></span></b>
		</div>
	</th:block>


	<div class="row">
		<div class="col-md-12">
			<div class="note note-success">
				<p class="block" th:text="${question.getTopics()}"
					style="font-size: 15px; margin-left: 20px;"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="note note-info">
				<p class="block"
					th:text="${question.questionType!=null?'Question Type : '+question.questionType.name:''}"
					style="font-size: 15px; margin-left: 20px;"></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="note note-warning">
				<p class="block"
					th:text="${question.author!=null?'Reference Book: '+question.referenceBook.referenceBook:''}"
					style="font-size: 15px; margin-left: 20px;"></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="note note-info">
				<p class="block"
					th:text="${question.questionObjective!=null?'Question Objective : '+question.questionObjective.name:''}"
					style="font-size: 15px; margin-left: 20px;"></p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="note note-danger">
				<p class="block"
					th:text="${question.difficultyLevel!=null?'Difficulty Level : '+question.difficultyLevel.name:''}"
					style="font-size: 15px; margin-left: 20px;"></p>
			</div>
		</div>
	</div>

	<div th:if="${question.questionType.id==1}">
		<th:block
			th:replace="myTheme1/viewQuestions/viewSingleAnswer(question=${question})"></th:block>
	</div>
	<div th:if="${question.questionType.id==2}">
		<div
			th:replace="myTheme1/viewQuestions/viewMoreThanOneAnswer(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==3}">
		<div
			th:replace="myTheme1/viewQuestions/viewIntegerAnswer(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==4}">
		<div
			th:replace="myTheme1/viewQuestions/viewAssertionReason(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==5}">
		<div
			th:replace="myTheme1/viewQuestions/viewStatementIStatementII(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==6}">
		<div
			th:replace="myTheme1/viewQuestions/viewAscendingDescending(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==7}">
		<div
			th:replace="myTheme1/viewQuestions/viewIncreasingDecreasing(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==8}">
		<div
			th:replace="myTheme1/viewQuestions/viewMatrix2Column(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==9}">
		<div
			th:replace="myTheme1/viewQuestions/viewMatrix3Column(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==10}">
		<div
			th:replace="myTheme1/viewQuestions/viewSubjective(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==11}">
		<div
			th:replace="myTheme1/viewQuestions/viewComprehensive(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==12}">
		<div
			th:replace="myTheme1/viewQuestions/viewReasoning(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==13}">
		<div
			th:replace="myTheme1/viewQuestions/viewReasoningComprehensive(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==14}">
		<div
			th:replace="myTheme1/viewQuestions/viewFigureFindingReason(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==15}">
		<div
			th:replace="myTheme1/viewQuestions/viewSubjectiveVerb(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==16}">
		<div
			th:replace="myTheme1/viewQuestions/viewReasoningNewChoicesComprehensive(question=${question})"></div>
	</div>

	<div th:if="${question.questionType.id==17}">
		<div
			th:replace="myTheme1/viewQuestions/viewModifiedStatementIStatementII(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==18}">
		<div
			th:replace="myTheme1/viewQuestions/viewIPESubjectiveVerb(question=${question})"></div>
	</div>

	<div th:if="${question.questionType.id==19}">
		<div
			th:replace="myTheme1/viewQuestions/viewQuestionTextAssertionReason(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==20}">
		<div
			th:replace="myTheme1/viewQuestions/viewModifiedStatementIStatementIIStatementIII(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==21}">
		<div
			th:replace="myTheme1/viewQuestions/viewModifiedQuestionStatementIStatementIIStatementIII(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==22}">
		<div
			th:replace="myTheme1/viewQuestions/viewTrueFalse(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==23}">
		<div
			th:replace="myTheme1/viewQuestions/viewYesNo(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==24}">
		<div
			th:replace="myTheme1/viewQuestions/viewFillInTheBlank(question=${question})"></div>
	</div>
	<div th:if="${question.questionType.id==25}">
		<div
			th:replace="myTheme1/viewQuestions/viewAssertionReasonfalse(question=${question})"></div>
	</div>
</body>
</html>